<!DOCTYPE html>
<html lang="en">
<head>
    <title>VSOAI - Blockchain</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
<div id="preloder">
    <div class="loader"></div>
</div>

<header class="header-section clearfix">
    <div class="container-fluid">
        <nav class="main-menu">
            <ul class="menu-list">
                <li><a href="{{ url_for('generate_new_wallet') }}">Create new wallet</a></li>
                <li><a href="{{ url_for('new_transaction_index') }}">Make a new transaction</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero-section">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
