<!DOCTYPE html>
<html lang="en">
<head>
    <title>VSOAI - Blockchain</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="img/favicon.ico" rel="shortcut icon"/>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/themify-icons.css"/>
    <link rel="stylesheet" href="css/animate.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
<div id="preloder">
    <div class="loader"></div>
</div>

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hero-text">
                <h2>VSOAI <span>Blockchain</span></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 hero-text">
                <div id="app">
                    <button class="btn btn-success" v-on:click="getKeys">Generate keys</button>

                    <button class="btn btn-info" id="make-transaction" v-on:click="showModal = true">
                        Make a transaction
                    </button>

                    <button class="btn btn-info" id="check-balance" v-on:click="balance = true">
                        Check balance
                    </button>

                    <modal v-if="showModal" v-on:close="showModal = false"></modal>
                    <balance v-if="balance" v-on:close="balance = false"></balance>

                    <div class="hero-text" v-if="null !== privateKey && null !== publicKey">
                        <h3>Your private key:</h3>
                        <p style="word-break: break-all">{{ privateKey }}</p>

                        <h3>Your public key:</h3>
                        <p style="word-break: break-all">{{ publicKey }}</p>

                        <h3>Your wallet address:</h3>
                        <p style="word-break: break-all">{{ walletAddress }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/jsencrypt/bin/jsencrypt.min.js"></script>
<script src="node_modules/jsrsasign/lib/jsrsasign-all-min.js"></script>
<script src="node_modules/js-sha256/build/sha256.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
